body{
    
    background-color:#000;
    font-family: "San Francisco", sans-serif;

}

.navbar.navbar-dark.navbar-expand-md.bg-dark {
  background-color: #000;
}

.fa.fa-apple.apple-logo { 
  font-size: 32px;
  line-height: 0.8;
}

.center_prod {
  text-align: center;
}
td{
  color: black;
}

.cart-table {
margin-top: 50px;
}
.cart-table th {
font-weight: 700;
font-size: 18px;
text-align: center;
vertical-align: middle;
}
.cart-table td {
font-size: 16px;
text-align: center;
vertical-align: middle;
}
.cart-table td img {
max-height: 50px;
margin-right: 10px;
}